<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RoomType List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--<th:block th:include="logout.html"/>-->
<body>

<table>
    <h2>RoomType List</h2>
    <input type="search" name="Search RoomType" placeholder="Search RoomType"/>
    <input type="submit" value="Search"/>
    <table>
        <thead>
        <tr>
            <th>RoomTypeId</th>
            <th>Name</th>
            <th>Price</th>
            <th>NoOfGuests</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="roomType : ${roomType}">
            <td th:text="${roomType.roomTypeId}"></td>
            <td th:text="${roomType.name}"></td>
            <td th:text="${roomType.price}"></td>
            <td th:text="${roomType.noOfGuests}"></td>
            <td><a th:href="@{/roomType/edit/{id}(id=${roomType.roomTypeId})}">Edit</a></td>
            <td><a th:href="@{/roomType/delete/{id}(id=${roomType.roomTypeId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</table>
<button onclick="window.location='/roomType/create';">Back to creation</button>
</body>
</html>
