<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update/edit Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--<th:block th:include="logout.html"/>-->
<body>
<p>
<h3 align="center">This section allows you to update or delete a new client</h3>
<h4>Please enter the client's details below:</h4></p>
<table>
    <form action="#" th:action="@{/client/update}" th:object="${client}" method="post">
        <tr>
            <td><input type="hidden" th:field="*{clientId}"/></td>
            <td><input type="text" th:field="*{name}" th:placeholder="Name" required/></td>
            <td><input type="text" th:field="*{address}" th:placeholder="Address" required/></td>
            <td><input type="text" th:field="*{cnp}" th:placeholder="CNP" minlength="13" required/></td>
            <td><input type="tel" th:field="*{phoneNo}" th:placeholder="Phone" pattern="[0-7]{4}[0-9]{6}" required/></td>
            <td><input type="email" th:field="*{email}" th:placeholder="E-mail" required/></td>
            <td><input type="submit" value="Update Client Details"/> <input type="reset" value="Reset fields"/></td>
        </tr>
    </form>
</table>
<input type="button" value="Back to list" onclick="window.location='/client/list';"/>
</body>
</html>
