<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Review</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--<th:block th:include="logout.html"/>-->
<body>
<table>
    <h2>User List</h2>
    <table>
        <thead>
        <tr>
            <th>UserId</th>
            <th>UserName</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${user}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.name}"></td>
            <td><a th:href="@{/user/edit/{id}(id=${user.userId})}">Edit</a></td>
            <td><a th:href="@{/user/delete/{id}(id=${user.userId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</table>
<input type="button" value="Back to list" onclick="window.location='/user/list';"/>
</body>
</html>


